@{
    ViewBag.Title = "Home Page";
}
    <div class="jumbotron">
        <table id="1" class="table table-striped table-hover table-bordered">
            <thead class="thead-dark">
                <tr> 
                    <th onclick="sortTableByString(0,1)">Repository</th>
                    <th>Description</th> 
                    <th onclick="sortTableByString(2,1)"> Watchers</th> 
                    <th onclick="sortTableByDate(3,1)" >Updated At</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var r in ViewBag.Repositories)
                {
                    <tr><td>@r.Name</td> <td>@r.Description</td> <td>@r.Watchers</td><td>@r.UpdatedAt</td></tr>
                }
            </tbody>

        </table>
    </div>